<% require 'uri' %>

<body>
<p id="notice"><%= notice %></p>

<table id="head">
  <thead>
  <tr>
    <td><b>Link Aggregator</b></td>
    <td><%= link_to 'New Link', new_link_path %></td>
    <td><%= link_to 'sign in', new_user_session_path %></td>
  </tr>
</thead>
</table>

<table id="link">
  <tbody>
    <% @links.each_with_index do |link,i| %>
      <tr>
        <td><%= i+1 %>.
        <b><%= link_to link.title, link.url, target:'_blank' %></b>
        <%= link.count %>
        <%= link.username %> 
        (<%= URI.parse(link.url).host %>)
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</body>

